.container{
    display:flex;
    flex-direction: column;
    align-items: center;
     }
 
     .p1, .p3{
         background-color: aqua;
         height:50px;
         flex-grow: 1;
         width: 400px;
         text-align: center;
 
     }
 
     .p2{
         background-color: aqua;
         height: 100px;
         width:100px;
         margin-left: 23%;
         
 
     }
 