body {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  #quoteSection {
    margin-top: 50px;
  }
  
  #quote {
    font-size: 18px;
  }
  
  button, input[type="text"] {
    margin: 10px;
    padding: 5px;
    font-size: 14px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  form {
    display: inline-block;
  }
  
  #navigationButtons {
    margin-top: 20px;
  }
  